{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- jQuery -->
{#    <script src="{% static "js/vendors/jquery.js" %}"></script>#}
    <!------- Angular ------->
    <script src="{% static "js/vendors/angular/angular.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>

        <script type="text/javascript" src="{% static 'js/ticket.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ticket.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>


    <!------- Bootstrap ------->
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- JavaScript -->
    <script src="{% static "js/app.js" %}"></script>

        <!------- Factories ------->
    <script src="{% static "js/factories/userFactory.js" %}"></script>

        <!--- Filters ---->



        <!--- Directives ---->



    <!------- Controllers ------->
    <script src="{% static "js/controllers/homeController.js" %}"></script>
    <script src="{% static "js/controllers/mapController.js" %}"></script>


        <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/index.css" %}">

</head>
<body>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>

    <!-- GeoFire -->
    <script src="https://cdn.firebase.com/libs/geofire/3.2.0/geofire.min.js"></script>
        <title></title>

    <script>
        // Create a Firebase reference where GeoFire will store its information
    var firebaseRef = new Firebase("https://johannas.firebaseio.com/");
    // Create a GeoFire index
    var geoFire = new GeoFire(firebaseRef);
    var ref = geoFire.ref();  // ref === firebaseRef
    </script>

    <div class="container">
        {% block content %}
        {% endblock %}
        <div class="row">
            <div class="col-md-12">
{#                This is outside of our Angular app. You could put a navbar here, for example.#}
            {{ request.user }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-app="ticket">
                    <div ng-view></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
{#                This is also outside of our Angular app. You can put whatever you want here, or you can delete it.#}
            </div>
        </div>
    </div>
</body>
</html>