{% load staticfiles %}
<html>
<head>
    <title></title>

     <!-- GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN3I45Mw0UYNqVNMGm_NwbhFCYnWgAz4U"></script>

    <!-- jQuery -->
    <script src="{% static "js/vendors/jquery.js" %}"></script>

    <script type="text/javascript">var csrftoken = "{% csrf_token %}";</script>

    <!------- Angular ------->
    <script src="{% static "js/vendors/angular/angular.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-cookies.js" %}"></script>


    <!------- Bootstrap ------->
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.js" %}"></script>

    <!-- JavaScript -->
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/vendors/geofire.js" %}"></script>
    <script src="{% static "js/vendors/geofire.min.js" %}"></script>
    <script src="{% static "js/vendors/rsvp.min.js" %}"></script>

    {% if user.is_authenticated %}
        <script src="{% static "js/position.js" %}"></script>
    {% endif %}

    <!------- Factories ------->
    <script src="{% static "js/factories/journeyFactory.js" %}"></script>
    <script src="{% static "js/factories/userFactory.js" %}"></script>

    <!--- Filters ---->

    <!--- Directives ---->
    <script src="{% static "js/directives/buttonDirective.js" %}"></script>

    <!------- Controllers ------->
    <script src="{% static "js/controllers/journeyController.js" %}"></script>
    <script src="{% static "js/controllers/homeController.js" %}"></script>
    <script src="{% static "js/controllers/userController.js" %}"></script>

    <!-- CSS -->
    <script src="{% static "css/reset.min.css" %}"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>

    <!-- GeoFire -->
    <script src="https://cdn.firebase.com/libs/geofire/3.2.0/geofire.min.js"></script>

    <!-- Lo-Dash -->
    <script src="{% static "js/vendors/lodash.min.js" %}"></script>

    <!--Map-->
    <script src="{% static "js/map.js" %}"></script>
    <script src="{% static "css/custom_style.css" %}"></script>

<!--Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    {% block header %}
    {% endblock header %}
</head>

<body>
<nav class="navbar navbar-default navbar-static-top" role=navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tikky</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right ">
        {% if user.is_authenticated %}
       <li><a href="{% url 'logout'%}">Logout</a></li>
       <li><a href= "/#/user/{{ user.id }}">My Profile</a></li>
        {% if user.ticket %}
    <script src="{% static "js/position.js" %}"></script>
        {% endif %}
        {% else %}
         <li><a href="{% url 'login'%}">Login</a></li>
         <li><a href="{% url 'register'%}">Register</a></li>
    {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <div class="container">
        {% block content %}
        {% endblock %}
        <div class="row">
            <div class="col-md-12">
{#                This is outside of our Angular app. You could put a navbar here, for example.#}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-app="ticket_ang">
                    <div ng-view></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
{#                This is also outside of our Angular app. You can put whatever you want here, or you can delete it.#}
            </div>
        </div>
    </div>
</body>
</html>