   <style type="text/css">
     .attend { margin-top: 20px; margin-bottom: 10px;}
     .journey_title {text-decoration: underline; }
     container {font-family: 'Open Sans Condensed', sans-serif;}
    </style>

<container style="margin-left: 40px; ">
<row>
    <div class="col-md-12 col-xs-18">
<b><h3>Recently Added Journeys</h3></b>
<input class="form-control" ng-model="searchText" />
        </div>
</row>
        <row>
    <div class="col-md-12 col-xs-18">
        <br>
        <br>
       <button ng-click="creating();">Going on a Journey?</button>
        </div>
</row>

    <row>
<div ng-show="create">
    <h3>Create a Journey</h3>
    <input placeholder="When?" class="form-control" ng-model="journeyDate">
    <input placeholder="From Where? " class="form-control" ng-model="journeyDepart">
    <input placeholder="To Where?" class="form-control" ng-model="journeyArrive">
    <input placeholder=" Where do you want to meet your fellow Passengers" class="form-control" ng-model="journeyMeetingPoint">
    <input placeholder="How many spots are available?" class="form-control" type="number" ng-model="journeySpots">
    <input placeholder="Description (optional)" class="form-control" type="text" ng-model="journeyDescription">
    <button style="margin-top: 5px;" ng-click="createJourney();">Create</button>
</div>
</row>


<div ng-repeat="journey in journeys | filter:searchText">
<row>
    <div class="col-md-8 col-xs-12">
        <h4 class="journey_title">From {{ journey.depart }} to {{ journey.arrive }} on {{ journey.date }}</h4>
        <table class="journey_description">
            <tr>
                <td>With</td>
                <td>{{ journey.host.username }}</td>
            </tr>
            <tr>
                <td>When</td>
                <td>{{ journey.date }}</td>
            </tr>
            <tr>
                <td>More Info</td>
                <td>{{ journey.description }}</td>
            </tr>
            <tr>
                <td>Available Spots &nbsp; &nbsp;</td>
                <td>{{ journey.spots }}</td>
            </tr>
         </table>

             <alert ng-repeat="alert in alerts | filter: {id:journey.id}" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

 <div class="col-md-4 col-xs-6">
        <button class= "attend" ng-click="attendJourney(journey);">Attend Journey</button>
</div>
</row>
</div>
<br>

</container>