<div text-directive=""></div>
<h3>Recently Added Journeys</h3>
<div>
 Search Journey <input ng-model="searchText" />

<div ng-repeat="journey in journeys track by $index | filter: searchText">
<h4><a href="#/journey/{{ journey.id }}">From {{ journey.depart }} to {{ journey.arrive }} on {{ journey.date }}</a></h4>

<p>
    When: {{ journey.date }}<br>
    With: {{ journey.host.username }}<br>
    More info: {{ journey.description }}<br>
    Available Spots: {{ journey.spots }}
</p>

<div ng-show="attending" style="color:green;">
    You are going on this journey! Please contact your host {{ journey.host.username }} under {{ journey.host.email }}
    or {{ journey.host.mobile }}
</div>

<button ng-click="attendJourney(journey);">Attend Journey</button>
</div>

 <button ng-click="creating();">Going on a Journey?</button>

<div ng-show="create">
    <h3>Create a Journey</h3>
    When? <input type="datetime" ng-model="journeyDate">
    From Where? <input ng-model="journeyDepart">
    To Where? <input ng-model="journeyArrive">
    Where do you want to meet your fellow Passengers <input ng-model="journeyMeetingPoint">
    How many spots are available? <input type="number" ng-model="journeySpots">
    Description (optional) <input type="number" ng-model="journeyDescription">
    <button ng-click="createJourney();">Create</button>
</div>
</div>

